@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto+Slab:wght@300&display=swap');

:root{
  --primary-color: #31383F;
  --dark-blue:#1E3A8A;
  --light-color:#E5E7EB;
}

hr{
  margin:2rem,0rem;
}

body{
  font-family: 'Noto Sans TC', sans-serif;
  margin:0px;
}

/* navigation part */
.navigation{
  background-color: var(--primary-color);
  color: white;
  padding:1rem;
  border-bottom-left-radius:1rem;
}
.link{
  color:white;
}
.nav-pills{
  text-align:right;
}
.navigation.nav-brand{
  font-weight:bold;
  font-size: medium;
}

.link-active{
  font-weight:bold;
}

.list-non-bullet{
  list-style:none;
}

.list-item-inline{
  display:inline;
  padding:0rem,0.5rem;
}

/* header section */
.hero{
  padding:2rem;
}
.hero .hero-img{
  max-width:450px;
  display:block;
  margin:auto;
}

.hero .hero-heading{
  padding:1rem;
  text-align:center;
}

.hero .hero-heading .heading-highlighted{
  color:var(--dark-blue);
}

/* section part */
.section h1{
  text-align:center;
}

.section{
  padding:2rem;
}

.ls{
  background-color:var(--light-color);
}

/* container */
.container{
  padding-left:1rem;
  padding-right:1rem;
}
.container-fluid{

}
.container-center{
  max-width:600px;
  margin:auto;
}

/* links */
.link{
  text-decoration:none;
  padding:0.5rem, 1rem;
  margin-top:1rem;
  margin-bottom:1rem;
}

.link-primary{
  background-color:var(--primary-color);
  border-radius:0.5rem;
  color:white;
  padding:0.5rem;
}

.link-secondary{
  color:var(--primary-color);
  border-radius:0.5rem;
  border:1px solid var(--primary-color);
}

/* lists */
.list-non-bullet{
  list-style:none;
}

.list-item-inline{
  display:inline;
  padding:0rem,0.5rem;
}

/* footer */
footer{
  background-color:var(--primary-color);
  padding:2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  text-align:center;
  color:white;
}

.footer .ul{
  padding-inline-start: 0px
}